body {background-color: #706F6F; width: 100vw; 
}

h1 {color: #FFFFFF; 
	font-family: 'Dancing Script', cursive; text-align: center;
font-size: 80px;}

.titulo {
width: 1620px;
height: 100px;
}
.caja {background-color: white;
width: 500px;
height: 300px;
margin: 20px;
float:left;
position: center; 
}

#portugal {display: flex;
  align-items: center; align-items: stretch;}

.parteverde {background-color: #046A38;
width: 200px;
height: 300px;

}

.parteroja {background-color: #DA291C;
width: 300px;
height: 300px;
display:;
}
.escudo {position: absolute;
margin-left: 125px;
margin-top: 75px}

#suecia {background-color: #004B87 ;display: flex;
  }

.horizontal {background-color: #FFCD00;
width: 500px;
height: 50px;
margin-top: 125px;
position: absolute;

}
.vertical {background-color: #FFCD00;
width: 50px;
height: 300px;
margin-left: 225px;
}

#japon {display: flex;}

.circulo {margin-top: 50px;
margin-left: 150px; }

.nombre {
width: 1620px;
height: 300px;
}
h3 {color: #FFFFFF;

	font-family: 'Roboto', sans-serif;
	text-align: right;
    font-size: 20px;
    padding-top:300px; }